body {
  background-color: #282c34;
}
nav.navbar {
  margin-bottom: 1em;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.wrong {
  color: red;
}
.correct {
  color: green;
}
.card {
  margin: 0em 2.5em 1em 2.5em;
}
.quiz-box {
  margin-top: 2.5em;
  margin-bottom: 2em;
  color: #fff;
}
.quiz-options {
  margin-top: 2em;
}
.quiz-option {
  margin: 1.5em 0;
  padding: 5px 0;
  cursor: pointer;
}
.quiz-option:hover {
  text-decoration: underline;
}
.quiz-options.row {
  margin-left: unset;
}
.score-box h1 {
  color: #fe9f59;
}
.score-box img {
  width: 85%;
}
.searchbox {
  margin: 40px 50%;
}
.searchbox .input-group-text {
  color: #000000;
  background-color: #f7df34;
  border: 1px solid #191d21;
}
.searchbox .form-control {
  color: #07132c;
  border: 1px solid #282c34;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
